
@media screen and (max-width: 600px) {
  .cat-container {
    zoom: 70%;
  }
}

.square {
  display: inline-block;
  margin: -2px;
}

.head {
  position: relative;
  bottom: -19px;
}

.body-and-butt {
  display: inline-block;
}

.body-and-butt:hover .butt {
  transform: scaleY(1.2) translate(0, -35px);
  transition: transform 0.25s;
}

.body-and-butt:hover .body {
  transform: skew(0, -36deg) translate(0, -24px);
  transition: transform 0.25s;
}

.butt {
  transition: transform 0.5s 0.4s;
}

.body {
  transition: transform 0.5s 0.4s;
}
